/* *******Descendent Combinator******* */
/* a{
    background-color: aqua;
    outline: 1px solid black;
    margin: 10px 10px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: sans-serif;
}
img{
    margin: 20px;
}

header a{
    background-color: red; 
} */


/* Child Combinator */
/* header > a{
   background-color: aqua;
    outline: 1px solid black;
    margin: 10px 10px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: sans-serif; 
}
img{
    margin: 20px;
} */

/* Next-Sibling Combinator */
img{
    margin: 20px;
}

header + a{
   background-color: aqua;
    outline: 1px solid black;
    margin: 10px 10px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: sans-serif; 
}