header{
    background-color: aqua;
    grid-column: 1/ span 4;
}
nav{
    background-color: greenyellow;
    grid-row: 2/ span 4;
}
main{
    background-color: palevioletred;
    grid-column: 2/ span 3;
    grid-row: 2 / span 4;
}
footer{
    grid-column: 1/ span 4;
    background-color: gray;
    
}
.container{
    display: grid;
    border: 2px solid blue;
    width: 80vw;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 200px auto 1fr 1fr;
    grid-auto-rows: 100px 150px 30px;
}