/*For Index.html page 
h2 {
  color: blueviolet;
}
p {
  color: darkcyan;
}
.desc_res{
    color: aquamarine;
}
#top{
    font-size: 50px;
    color: rgb(0, 255, 98);
}
#para{
    color: black;
} */

/* for Problem.html page
#mytext {
    color: red;
}
.hello{
    color: yellow;
}*/

