@font-face {
    font-family: ShortBaby;
    src: url(./assets/ShortBaby-Mg2w.ttf);
}
body{
    font-family: "Sedan SC", serif;
    background-color: #ebe3e3b7;
}
.left{
    background-color: black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    border-radius: 30px;
    position: sticky;
    top: 20px;
    gap: 10px;
}
main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding: 20px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.profile img{
    width: 65%;
    height: 75%;
    border-radius: 50%;
}
.profile p{
    color: white;
    font-size: 20px;
    font-weight: 250;
}
.nav{
    display: flex;
    align-items: center;
    color: white;
    padding-right: 20px;
    margin-left : 30px;
    margin-bottom: 30px;
}
.nav a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-weight: 400;
    font-size: 20px;
}
.nav > a:hover{
    color: lightgray;
}
.right{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 0px 20px 0px 20px ; */
}
.right header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
header>h1{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 35px;
    font-weight: 700;
}
header > input{
    border: 0px solid white;
    width: 200px;
    height: 25px;
    padding: 5px;
    margin-right: 5%;
    margin-top: 20px;
    border-radius: 30px;
}
header > input:focus{
    outline: none;
    border: 3px solid lightgreen;
}

#board{
    width: 80%;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    margin: auto;
}
#board img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#data  h2{
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
    padding: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    font-family: ShortBaby;
    margin-left: 50px;
}
.card{
    height: 100px;
    width: 180px;
    border-radius: 20px;
}
.card1{
    background-color: lightgreen;
    /* filter: opacity(60%); */
}
.card>i{
    margin-left: 150px;
    margin-top: 20px;
}
.cardHead{
    margin: 0px;
    margin-left: 10px;
    font-size: large;
}
.cardData{
    margin-top: 4px;
    margin-left: 10px;
    font-size: medium;
}
.card:hover{
    background: radial-gradient(closest-side,  pink, lightblue);
}
.card2{
    background-color: bisque;
}
.card3{
    background-color: lightpink;
}
.card4{
    background-color: lightblue;
}

#users{
    text-align: center;
    margin-top: 50px;
    margin-left: 70px;
}
#users > h2{
    text-decoration: underline;
}
table{
    width: 95%;
    border-collapse: collapse;
    border-radius: 20px;
    background-color: white;
}
table th,
table td{
    padding: 15px 100px;
    text-align: left;
}
table th{
    background-color: #a39696;
}
/* th{
    background-color: darksalmon;
} */
/* table, th, td{
    padding: 15px;
} */
/* tr:nth-child(odd) {
    background-color: #ffffff;
}
tr:nth-child(even) {
    background-color: rgb(230, 227, 227);
} */
/* th, td{
    text-align: left;
    padding-left: 120px;
} */
 table tbody tr:nth-child(even){
    background-color: #eaeaea;
 }
 table tbody tr:hover{
    background-color: lightgray;
}

#schedule{
    width: 85%;
    height: 60vh;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 65px;
    overflow-y: scroll;
}
.heading{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.box_container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-evenly;
    margin-top: 10px;
}
.box_container h3{
    margin: 4px;
}
.box_container p{
    color: #aeaeae;
    margin: 4px;
    font-weight: 600;
}
.box_container:nth-child(odd){
    border-left: 3px solid blue;
}
.box_container:nth-child(even){
    border-left: 3px solid green;
}


#contact{
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}