@font-face {
    font-family: ShortBaby;
    src: url(./assets/ShortBaby-Mg2w.ttf);
}
.left{
    background-color: black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    border-radius: 30px;
    position: sticky;
    top: 20px;
    gap: 10px;
}
.right{
    background-color: aqua;
}
main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding: 20px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.profile img{
    width: 65%;
    height: 75%;
    border-radius: 50%;
}
.profile p{
    color: white;
    font-size: 20px;
    font-weight: 250;
}
.nav{
    display: flex;
    align-items: center;
    color: white;
    padding-right: 20px;
    margin-left : 30px;
    margin-bottom: 20px;
}
.nav a{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-weight: 400;
    font-size: 20px;
}