@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan+SC&display=swap");

:root {
  --primary-color: #ff511a;
  --secondary-color: #43ba7f;
  --text-color: #212741;
  --bg-color: #fff;
  --link-color: #e36402;
  --dark-bg-color: #181d30;
}

body {
  background: var(--bg-color);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
}
/* a{
    text-decoration: none !important;
} */
/* Header Section */

header {
  background-color: rgb(116, 113, 113);
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.logo img {
  height: 5em;
  border-radius: 50%;
}
.navlist {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
.main-nav li {
  padding: 0 1rem;
}
.main-nav li a {
  text-decoration: none;
  color: var(--bg-color);
  font-weight: 300;
  font-size: 1rem;
}

.navlist li a:hover,
.navlist li a.active {
  color: var(--link-color);
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .logo img {
    height: 4em;
  }
  .main-nav li {
    padding: 0 0.5rem;
  }
  .navlist li a {
    font-size: 0.9rem;
    white-space: nowrap;
  }
}

@media screen and (max-width: 576px) {
  .navlist {
    display: none;
  }
  .hamburger-menu {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
    /* margin-top: 1rem; */
  }
}

/* Hero Section  */
.hero {
  background-image: url(./assets/hero-bg.jpeg);
  width: 100vw;
  height: 100%;
  background-size: cover;
  animation: slidIn 1s ease-in-out forwards;
}

.title {
  width: 50%;
}
.title h2 {
  color: white;
  font-weight: bolder;
  /* font-size: 3.8rem; */
  font-size: 4.6vw;
  padding: 2rem 0 1rem 1rem;
  /* line-height: 11.5vh; */
}
.title h2 em {
  color: var(--link-color);
  font-style: normal;
}

.divider {
  background-color: var(--bg-color);
  width: 5rem;
  height: 0.4rem;
  border-radius: 1rem;
  margin: 1rem 0 1.5rem 1rem;
}

.para {
  color: var(--bg-color);
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
@keyframes slidIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 992px) {
  .title {
    text-align: center;
    width: 90%;
    padding-top: 3.5rem;
    margin: auto;
  }
  .title h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 0px;
    line-height: 2.5rem;
  }
  .divider {
    margin: auto;
  }
  .para {
    font-size: 0.9rem;
    padding: 1rem 3rem 4rem 3rem;
    margin-top: 0;
    line-height: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .divider {
    width: 11rem;
  }
}
@media screen and (max-width: 576px) {
  .title {
    padding: 5rem 0;
  }

  .divider {
    display: none;
  }
  .para {
    display: none;
  }
}

.section-head {
  text-align: center;
  margin-top: 2rem;
  /* margin-bottom: 5rem; */
}
.section-head h5 {
  font-weight: 600;
  color: var(--link-color);
}
.section-head h2 {
  font-weight: 600;
  font-size: 2.5rem;
}

.service-item {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 2.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  /* position: relative; */
  width: 95%;
}
.service-item i {
  font-size: 4rem;
  float: right;
  /* position: absolute;
  top: 2rem;
  right: 10px; */
  color: var(--primary-color);
  margin-bottom: 2rem;
  margin-right: -8%;
}
.services i:hover {
  margin-top: 1rem;
}
.service-item h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.service-item p {
  color: var(--primary-color);
  font-size: 1rem;
  line-height: 1.5rem;
}
@media screen and (max-width: 768px) {
  .service-item {
    padding: 1.5rem;
    width: 100%;
    height: auto;
  }
  .service-item i {
    float: none;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.banner {
  /* width: 100vw; */
  /* height: 50vh; */
  background-image: url(./assets/banner-bg.jpeg);
  background-size: cover;
  margin-top: 2rem;
  padding-top: 7vw;
  padding-bottom: 7vw;
}
.banner h4 {
  color: var(--bg-color);
  font-weight: 700;
  font-size: 2.25rem;
  margin-left: 2rem;
  line-height: 3rem;
  text-align: center;
}
.banner h4 em:first-of-type {
  color: var(--secondary-color);
  font-style: normal;
}
.banner h4 em:last-of-type {
  color: var(--link-color);
  font-style: normal;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.btn {
  padding: 0.4rem 1.2rem;
}
.btn1 {
  background-color: var(--bg-color);
}
.btn1 a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  transition: all 0.3s;
}
.btn2 {
  background-color: var(--link-color);
}
.btn2 a {
  text-decoration: none;
  color: var(--bg-color);
  font-weight: 500;
  transition: all 0.3s;
}
.btn a{
  transition: all 0.3s;
}
.btn a:hover{
  opacity: 0.9;
  transform: scale(1.05);
}

@media screen and (max-width: 992px) {
  .banner h4 {
    margin-bottom: 2rem;
  }
}

/* About Section  */

.about_us{
  margin-top: 3%;
  text-align: center;
}
.section-heading{
  text-align: center;
  margin-bottom: 2rem;
}
.section-heading h6{
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
  text-transform: uppercase;
}
.section-heading h4{
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-bg-color);
  text-transform: capitalize;
  /* margin-bottom: 1rem; */
}
.details_btn{
  text-align: center;
}
.details_btn span{
  font-weight: 500;
}
.list-head{
  font-weight: 700;
}
.course_list{
  margin-top: 2rem;
  list-style: none;
  padding: 0;
}
.course_list li{
  display: flex;
  padding: 1rem;
}
.course_list li span{
  flex: 1;
  font-size: 1rem;
  color: var(--text-color);
}
.item-title{
  color: var(--secondary-color) !important;
  font-weight: 600;
}

@media screen and (max-width:576px)  {
  .course_list li{
    flex-direction: column;
  }
}